#title {
	color: yellow;
	font-size: 60px;
	position: absolute;
	left: 60px;
	top: 15px;
}

#main {
	color: white;
	font-size: 40px;
	position: absolute;
	left: 60px;
	top: 80px;
}

.effect {
	opacity: .999;
	position: absolute;
	top: 0px;
}