#title {
	color: #16181F;
	font-size: 60px;
	position: absolute;
	left: 60px;
	top: 15px;
}

#pageBy {
	position: relative;
	top: -15px;
}

#pageRu {
	position: relative;
	top: -15px;
	left: -10000px;
}

#main {
	color: white;
	font-size: 40px;
	position: absolute;
	left: 60px;
	top: 80px;
}

#data {
	font-size: 20px;
	position: absolute;
	top: 200px;
	right: 100px;
}

#languagesBy {
	color: white;
	font-size: 40px;
	position: absolute;
	left: 320px;
	top: 80px;
}

#languagesRu {
	color: white;
	font-size: 38px;
	position: absolute;
	left: 310px;
	top: 80px;
}

.effect {
	opacity: .9;
	position: absolute;
	top: 0px;
}

.invs {
	position: absolute;
	top: 1950px;
	opacity: 1;
	font-size: 10px;
}