#band {
	position: absolute;
	left: -5000px;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}

#line {
	position: absolute;
	left: 85px;
	top: 220px;
}

#line1 {
	position: absolute;
	left: 570px;
	top: 200px;
}

#line2 {
	position: absolute;
	left: 85px;
	top: 670px;
}

#line3 {
	position: absolute;
	left: 85px;
	top: 1420px;
}

#line4 {
	position: absolute;
	left: 85px;
	top: 1700px;
}

#rus {
	color: white;
	font-size: 32px;
	position: absolute;
	left: 420px;
	top: 87px;
}

#by {
	color: #DFE1F0;
	font-size: 32px;
	position: absolute;
	left: 540px;
	top: 87px;
}

#t0 {
	font-size: 55px;
	position: absolute;
	top: 150px;
	left: 370px;
}

#t1 {
	font-size: 30px;
	width: 900px;
	position: absolute;
	top: 280px;
	left: 600px;
}

#t2 {
	font-size: 30px;
	width: 900px;
	position: absolute;
	top: 400px;
	left: 600px;
}

#t3 {
	font-size: 30px;
	width: 540px;
	position: absolute;
	top: 690px;
	left: 40px;
}

#t4 {
	font-size: 30px;
	width: 900px;
	position: absolute;
	top: 1450px;
	left: 600px;
}

#t5 {
	font-size: 30px;
	width: 900px;
	position: absolute;
	top: 1750px;
	left: 40px;
}

#img1 {
	position: absolute;
	top: 260px;
	left: 40px;
}

#img2 {
	position: absolute;
	top: 750px;
	left: 700px;
}